@model Article
    <div class="container">
        <h1 class="article-header">@Model.Title</h1>
        <img class="img-size" src="@Model.Main_Image" />
        <div class="article-info">
            <p class="published">Published: @Model.Published</p>
            <p class="author">Written by: @Model.Author</p>
        </div>
        <p>@Model.Text</p>
        <div class="article-url">
        <a href="@Model.Url" target="_blank">Read the original article here</a>
        </div>
    </div>

@if (User?.Identity?.IsAuthenticated ?? false)
{
    <a asp-controller="Account" asp-action="Logout"
       class="btn btn-danger">Logout</a>
}



